body, html{
  width: 100%; height: 100%;
  margin:0; padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
*{box-sizing: border-box;}
.row{ display: flex; margin: 10px 0;}
#message{ flex-grow: 1; display: flex; margin-right: 10px;}
#message input{ flex-grow: 1; margin-right: 10px;}
#messages{ flex-grow: 1; overflow-y:auto; }
#messages .message .username{ color: slateblue}
#messages .message .username::after{ content: ":"}
#messages .message .when{ color: #bbb; font-size: .8em;}
#messages .message {padding: 3px;}
#messages .message:nth-child(odd) {background-color: #fafafa}

